:root,
[data-theme="dark"] {
    color-scheme: dark;
    --body-bg: #0D1B2A;
    --bleu-gris: #242d3a;
    --bleu-ciel: #1B263B;
    --vert-menthe: #81C3B9;
    --gris-clair: #E0E1DD;
    --blanc-casse: #F5F5F5;
    --white-gray : #f2f4f6;
    --gray-dark : #495057;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --border-radius: 0.375rem;
    --border-width: 3px;
    --border-card-color: rgba(255, 255, 255, 0.175);
}

body {
    /*background: var(--body-bg) !important;*/
}

.bg-bleu-gris {
    background: var(--bleu-gris);
}

.bg-black-gray {
    background: var(--gray-dark);
}

.faq {
    display: none;
}

.faq-open {
    display: block;
}

.mt-10 {
    margin-top: 6rem !important;
}

.no-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.no-link:hover {
    text-decoration: none;
    color: inherit;
}

.cursor-pointer {
    cursor: pointer;
}

.link-social {
    color: var(--bs-body-color);
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }
    
}