<div class="container mt-3 mb-4 pb-4">
    <div class="d-flex flex-column justify-content-center border border-3 rounded rounded-3 p-4">
        <div class="text-center">
            <h2>Vous n'êtes pas encore sur notre discord ?</h2>
            <p>Rejoignez dès maintenant notre discord afin de poser des questions ou avoir de l'aide pour votre service.</p>
        </div>
        <div class="mt-3 pt-3 d-flex justify-content-center">
            <a href="https://discord.gg/wNeFaayTNV" target="_blank"><button class="btn btn-secondary">Rejoindre le discord</button></a>
        </div>
    </div>
</div>